{% extends 'courseinfo/base.html' %}

{% block title %}
    Error Deleting Section
{% endblock %}

{% block content %}
    <div>
        <h2>Error Deleting Section</h2>
        <p>
            You may not delete Section {{ section }}.  This
            section is currently has the following registration
        </p>

        <ul>
            {% for registration in registrations %}
            <li><a href="{{ registration.get_absolute_url }}">{{ registration }}</a></li>
                //show student and section name
            {%  endfor %}
        </ul>

        <p>
            Return to <a href="{% url 'courseinfo_section_list_urlpattern' %}">Section List</a>.
        </p>
    </div>
{% endblock %}
